#navbar{
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden; /*taşmayı engeller*/
    height: 80px;
}

#training .items{
    flex-direction: column;
}

#training .items .item{
    width: 100%;
}

.courses .course{
    flex-direction: column;
}